<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates graph data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<div id="chartcontainer" width='100%'></div>

<h1 id="tableLabel">Weather forecast</h1>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
    </tr>
  </tbody>
</table>
